:root {
	/* General colours */
	--accent-color: hsla(80, 76%, 53%, 1);
	--accent-color-hover: hsla(80, 76%, 73%, 1);
	/* Light theme */
	--main-color-light: hsla(0, 0%, 98%, 1);
	--background-color-light: hsla(0, 0%, 90%, 1);
	--hover: hsl(0, 0%, 50%);
	--text-color-light: hsla(0, 0%, 20%, 1);
	--icon-color-light: hsla(0, 0%, 20%, 1);
	--textbox-color-light: hsla(0, 0%, 40%, 1);
	/* Dark theme */
	--main-color-dark: hsla(0, 0%, 20%, 1);
	--background-color-dark: hsla(0, 0%, 15%, 1);
	--text-color-dark: hsla(0, 0%, 90%, 1);
	--icon-color-dark: hsla(0, 0%, 90%, 1);
	--textbox-color-dark: hsla(0, 0%, 60%, 1);
	/* Fonts */
	--main-font: 'Open Sans', sans-serif;
	/* Other */
	--transition-time: 0.15s;
	--transition-curve: ease-in-out;
}

* {
	transition: background-color var(--transition-time) var(--transition-curve);
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	min-width: 300px;
	min-height: 430px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Disable pull to refresh */
	overscroll-behavior-y: contain;
}

input[name=theme] {
	display: none;
}

/* #region General */

input[value="light"]:checked~div.theme-colored {
	background-color: var(--main-color-light);
	color: var(--text-color-light);
}

input[value="dark"]:checked~div.theme-colored {
	background-color: var(--main-color-dark);
	color: var(--text-color-dark);
}

input[value="light"]:checked~div .theme-colored {
	background-color: var(--main-color-light);
	color: var(--text-color-light);
}

input[value="dark"]:checked~div .theme-colored {
	background-color: var(--main-color-dark);
	color: var(--text-color-dark);
}

input[value="light"]:checked~div .theme-colored-icon {
	color: var(--icon-color-light);
}

input[value="dark"]:checked~div .theme-colored-icon {
	color: var(--icon-color-dark);
}

.theme-colored-text {
	font-family: var(--main-font);
}

input[value="light"]:checked~div .theme-colored-text {
	color: var(--text-color-light);
}

input[value="dark"]:checked~div .theme-colored-text {
	color: var(--text-color-dark);
}

.btn-transparent {
	background-color: transparent;
}

/*input[value="light"]:checked~div .btn-transparent:hover {
	background-color: var(--hover);
}

input[value="dark"]:checked~div .btn-transparent:hover {
	background-color: var(--hover);
}*/

.btn-transparent:hover {
	background-color: var(--hover);
}

/*input[value="light"]:checked~div .btn-transparent:hover .transparent-bar {
	background-color: var(--hover);
}

input[value="dark"]:checked~div .btn-transparent:hover .transparent-bar {
	background-color: var(--hover);
}*/

.btn-transparent:disabled {
	pointer-events: none;
}

.btn-accent {
	background-color: var(--accent-color);
}

.btn-accent:hover {
	background-color: var(--accent-color-hover);
}

.btn-accent:disabled {
	pointer-events: none;
}

/* #endregion */

/* #region Specific */

.toolbar {
	margin: 0px;
	height: 65px;
	font-family: var(--main-font);
	font-size: 20px;
	/* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); */
}

input[value="light"]:checked~.toolbar {
	border-bottom: 1px solid var(--icon-color-light);
}

input[value="dark"]:checked~.toolbar {
	border-bottom: 1px solid var(--icon-color-dark);
}

.toolbar-button {
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50px;
}

.app-name {
	padding-left: 15px;
	width: 100%;
}

.work-area {
	height: calc(100% - 65px);
}

input[value="light"]:checked~.work-area {
	background-color: var(--background-color-light);
}

input[value="dark"]:checked~.work-area {
	background-color: var(--background-color-dark);
}

.side-menu {
	padding: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 250px;
	height: calc(100% - 65px);
	position: absolute;
	left: -250px;
	z-index: 2;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transition: left var(--transition-time) var(--transition-curve), background-color var(--transition-time) var(--transition-curve);
}

.side-menu-list-container {
	padding: 0px;
	overflow-y: auto;
}

.side-menu-list {
	padding: 0;
	overflow-y: auto;
}

.side-menu-list>.list-group-item {
	padding: 5px;
	padding-left: 10px;
	background-color: transparent;
	font-family: var(--main-font);
	cursor: pointer;
}

input[value="light"]:checked~div .side-menu-list>.list-group-item.selected {
	background-color: var(--hover);
}

input[value="dark"]:checked~div .side-menu-list>.list-group-item.selected {
	background-color: var(--hover);
}

.btn-list-delete {
	opacity: 0;
	transition: none;
	cursor: pointer;
}

.list-group-item:hover>.btn-list-delete {
	opacity: 1;
}

.side-menu-list-name {
	width: 100%;
}

.list-area {
	width: 80vw;
	height: 85vh;
	max-width: 750px;
	min-width: 300px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list {
	padding: 10px;
	height: 90%;
	overflow-y: auto;
}

.list-title {
	padding: 15px;
	height: 80px;
	font-size: 25px;
}

.list-title:focus {
	outline: none;
}

.list>.list-group-item {
	padding: 5px;
	background-color: transparent;
	font-family: var(--main-font);
	border: none;
}

.list-group-item.hidden {
	/* Important because it needs to override d-flex from Bootstrap...*/
	display: none!important;
}

input[value="light"]:checked~div .list>.list-group-item {
	color: var(--text-color-light);
}

input[value="dark"]:checked~div .list>.list-group-item {
	color: var(--text-color-dark);
}

.profile-button {
	background-size: contain;
	background-origin: border-box;
	position: absolute;
	right: 20px;
}

.side-menu-privacy-policy {
	bottom: 30px;
	left: 20px;
	font-size: 10px;
	position: absolute;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: inherit;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Checkboxes */

input[type="checkbox"] {
	display: none;
}

.checkbox {
	width: 22px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: #ededed;
	border: 1px solid #aeaeae;
	border-radius: 4px;
	cursor: pointer;
}

input[type="checkbox"]:checked+span:after {
	/*Position it on top of the custom checkbox*/
	margin-left: 0.4rem;
	/*Make a small rectangle*/
	width: 6px;
	height: 16px;
	/*Add a block-level blank space*/
	content: "";
	display: block;
	/*Add a border on the bottom and right, creating an 'L' */
	border: solid #000000;
	border-width: 0 4px 4px 0;
	/*Rotate the L to make it look like a checkmark*/
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.checkbox-label {
	padding: 5px;
	width: 100%;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.checkbox-label:focus {
	outline: none;
}

input[value="light"]:checked~div .checkbox-label:focus {
	border-top-color: var(--textbox-color-light);
	border-bottom-color: var(--textbox-color-light);
}

input[value="dark"]:checked~div .checkbox-label:focus {
	border-top-color: var(--textbox-color-dark);
	border-bottom-color: var(--textbox-color-dark);
}

.btn-item-delete {
	opacity: 0;
	transition: none;
	cursor: pointer;
}

.list-group-item:hover>.btn-item-delete {
	opacity: 1;
}

.checkbox-label:focus+.btn-item-delete {
	opacity: 1;
}

/* Style label when checked */

input[type="checkbox"]:checked~span.checkbox-label {
	text-decoration-line: line-through;
	opacity: 0.65;
}

/* Add to list section */

.list-add {
	margin-bottom: 25px;
}

.list-add-button {
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50px;
}

#side-menu-list-add-button {
	position: relative;
	top: -15px;
}

.list-add-input {
	margin-left: 5px;
	padding-left: 10px;
	height: 28px;
	border-radius: 5px;
	font-family: var(--main-font);
}

input[value="light"]:checked~div .list-add-input {
	border: 1px solid var(--textbox-color-light);
}

input[value="dark"]:checked~div .list-add-input {
	border: 1px solid var(--textbox-color-dark);
}

/* #endregion */

#alert-modal .modal-dialog {
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#alert-modal-message {
	text-align: center;
}

.refresh-link {
	font-weight: bold;
	color: #2579c3;
	cursor: pointer;
}

/* #region Media queries */

@media (max-width: 576px) {
	/* Disable focus outline in phones */
	.toolbar-button:focus {
		box-shadow: none;
		outline: none;
	}
	.list-add-button:focus {
		box-shadow: none;
		outline: none;
	}
	/* Always show delete list icon in phones */
	.btn-list-delete {
		opacity: 1;
	}
	.btn-transparent:hover {
		background-color: transparent;
	}
}

/* #endregion */

/* #region Animations and keyframes */

.icon-bar {
	position: absolute;
	content: '';
	display: block;
	width: 24px;
	height: 1.7px;
	transform-origin: top left;
}

.transparent-bar {
	transform: translate(4px, 3px) rotate(45deg);
}

input[value="light"]:checked~div .transparent-bar {
	background-color: var(--main-color-light);
}

input[value="light"]:checked~div .btn-transparent:hover .transparent-bar {
	background-color: var(--hover);
}

input[value="dark"]:checked~div .transparent-bar {
	background-color: var(--main-color-dark);
}

input[value="dark"]:checked~div .btn-transparent:hover .transparent-bar {
	background-color: var(--hover);
}

@media (max-width: 576px) {
	/* No hover on mobile, so don't change the colour of the transparent bar */
	input[value="light"]:checked~div .btn-transparent:hover .transparent-bar {
		background-color: var(--main-color-light);
	}
	input[value="dark"]:checked~div .btn-transparent:hover .transparent-bar {
		background-color: var(--main-color-dark);
	}
}

/*
.btn-transparent:hover .transparent-bar {
	background-color: var(--hover);
} */

.colored-bar {
	transform: translate(3px, 4px) rotate(45deg);
}

input[value="light"]:checked~div .colored-bar {
	background-color: var(--icon-color-light);
}

input[value="dark"]:checked~div .colored-bar {
	background-color: var(--icon-color-dark);
}

.on-off-icon.on i:nth-child(1) {
	animation: turn-on 0.8s forwards;
}

.on-off-icon.on i:nth-child(2) {
	animation: turn-on 0.8s forwards;
}

.on-off-icon.off i:nth-child(1) {
	animation: turn-off 0.8s forwards;
}

.on-off-icon.off i:nth-child(2) {
	animation: turn-off 0.8s forwards;
}

@keyframes turn-off {
	0% {
		width: 0px;
	}
	100% {
		width: 24px;
	}
}

@keyframes turn-on {
	0% {
		width: 24px;
	}
	100% {
		width: 0px;
	}
}

.light-dark-icon.light i:nth-child(1) {
	animation: rotate-in 0.8s forwards;
}

.light-dark-icon.light i:nth-child(2) {
	animation: rotate-out 0.8s forwards;
}

.light-dark-icon.dark i:nth-child(1) {
	animation: rotate-out 0.8s forwards;
}

.light-dark-icon.dark i:nth-child(2) {
	animation: rotate-in 0.8s forwards;
}

@keyframes rotate-in {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}

@keyframes rotate-out {
	0% {
		transform: rotateY(90deg);
	}
	50% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

/* #endregion */
